.container
  form role="form" action="/podcast_info" method='POST' id='show-episode-form'
    .row.vertical-align.query-bar
      .col-md-2.col-sm-3
        .text-right Spotify URL:
      .col-md-8.col-sm-6
        input {
          type='text' name='spotify_url'
          id='spotify_url_input' class="form-control"
          placeholder="e.g. https://open.spotify.com/episode/<unique_id> or https://open.spotify.com/show/<unique_id>"
        }
      .col-md-2.col-sm-3
        button {
          type='submit' id='podcast_info-form-submit' class='submit'
          value='submit' class="btn btn-success"
        } Show Podcast Information
    .row
      .col-md-12.blank-row

  script type="text/javascript".
    $(document).ready(function() {
      $('#show-episode-form').on('submit', function(e) {
        e.preventDefault();

        var spotifyUrl = $('#spotify_url_input').val();
        var actionUrl;

        if (spotifyUrl.includes('episode')) {
          actionUrl = '/episode';
        } else if (spotifyUrl.includes('show')) {
          actionUrl = '/show';
        } else {
          actionUrl = '/default';
        }

        $(this).attr('action', actionUrl);
        this.submit();
      });
    });