---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/episodes/7vwvbU1pDkv0IuWPY8SZyz?market=TW
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjZhYzNhODQ3NmMxMDhkYzYzYTBiMjI2MjAzYWYyYmIyIg=="'
    body:
      encoding: UTF-8
      string: |-
        {
          "audio_preview_url" : "https://podz-content.spotifycdn.com/audio/clips/6VJ9tw39O79Liz9Jmte78K/clip_1276800_1326000.mp3",
          "description" : "For years, Israel’s leaders believed that they could coexist with Hamas. After this weekend’s massacre, that belief is over.Steven Erlanger, a former Jerusalem bureau chief at The New York Times, explains what Israel’s plan to destroy Hamas will mean for Palestinians and Israelis.Guest: Steven Erlanger, the chief diplomatic correspondent in Europe for The New York Times.Background reading: The attack ended Israel’s hope that Hamas might come to embrace stability. Now senior Israeli officials say that Hamas must be crushed.Follow The Times’s latest updates on the Israel-Gaza war.For more information on today’s episode, visit nytimes.com/thedaily. Transcripts of each episode will be made available by the next workday.",
          "duration_ms" : 1615568,
          "explicit" : false,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/episode/7vwvbU1pDkv0IuWPY8SZyz"
          },
          "href" : "https://api.spotify.com/v1/episodes/7vwvbU1pDkv0IuWPY8SZyz",
          "html_description" : "<p>For years, Israel’s leaders believed that they could coexist with Hamas. After this weekend’s massacre, that belief is over.</p><p>Steven Erlanger, a former Jerusalem bureau chief at The New York Times, explains what Israel’s plan to destroy Hamas will mean for Palestinians and Israelis.</p><p>Guest: <a href=\"https://www.nytimes.com/by/steven-erlanger?smid&#61;pc-thedaily\" rel=\"nofollow\">Steven Erlanger</a>, the chief diplomatic correspondent in Europe for The New York Times.</p><p>Background reading: </p><ul><li>The attack ended Israel’s hope that Hamas might come to embrace stability. Now senior Israeli officials<a href=\"https://www.nytimes.com/2023/10/09/world/middleeast/hamas-gaza-israel.html?smid&#61;pc-thedaily\" rel=\"nofollow\"> say that Hamas must be crushed</a>.</li><li>Follow The Times’s<a href=\"https://www.nytimes.com/live/2023/10/11/world/israel-gaza-war-hamas?smid&#61;pc-thedaily\" rel=\"nofollow\"> latest updates on the Israel-Gaza war</a>.</li></ul><p>For more information on today’s episode, visit nytimes.com/thedaily. Transcripts of each episode will be made available by the next workday.</p>",
          "id" : "7vwvbU1pDkv0IuWPY8SZyz",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/1b5af843be11feb6c563e0d95f5fe0dad659b757",
            "width" : 640
          }, {
            "height" : 300,
            "url" : "https://i.scdn.co/image/ef570afd43d43da66c9e5df3957e049f5c3464c3",
            "width" : 300
          }, {
            "height" : 64,
            "url" : "https://i.scdn.co/image/7fe2b992063ef9490d236547b1eccee07db8a87d",
            "width" : 64
          } ],
          "is_externally_hosted" : false,
          "is_playable" : true,
          "language" : "en",
          "languages" : [ "en" ],
          "name" : "Israel’s Plan to Destroy Hamas",
          "release_date" : "2023-10-11",
          "release_date_precision" : "day",
          "show" : {
            "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BZ", "CA", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JM", "JO", "JP", "KE", "KH", "KI", "KM", "KN", "KW", "LA", "LB", "LC", "LI", "LR", "LS", "LT", "LU", "LV", "MA", "MC", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "US", "UY", "UZ", "VC", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
            "copyrights" : [ ],
            "description" : "This is what the news should sound like. The biggest stories of our time, told by the best journalists in the world. Hosted by Michael Barbaro and Sabrina Tavernise. Twenty minutes a day, five days a week, ready by 6 a.m.  Listen to this podcast in New York Times Audio, our new iOS app for news subscribers. Download now at nytimes.com/audioapp",
            "explicit" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/s[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/episodes/7vwvbU1pDkv0IuWPY8SZyz?market=TW
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_token", error_description="Invalid
        access token"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "status": 401,
            "message": "Invalid access token"
          }
        }
  recorded_at: Mon, 16 Oct 2023 13:15:19 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/episodes/BAD_ID?market=TW
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : {
            "status" : 400,
            "message" : "invalid id"
          }
        }
  recorded_at: Mon, 16 Oct 2023 13:15:19 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/shows/5Vv32KtHB3peVZ8TeacUty?market=TW
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjRkM2M5YmNjOThlNWNjM2ZmODVkMTUyZGJmYWZlYjc5Ig=="'
    body:
      encoding: UTF-8
      string: "{\n  \"available_markets\[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/shows/BAD_ID?market=TW
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : {
            "status" : 400,
            "message" : "invalid id"
          }
        }
  recorded_at: Mon, 16 Oct 2023 13:15:20 GMT
recorded_with: VCR 6.2.0
